.parent-wrapper {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.parent-wrapper > div {
    padding-top: 2rem;
}

.candidate-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.candidate-image {
    background-color: whitesmoke;
}

.candidate-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

.image-style {
    width: 100px;
    height: 100px
}